Unidad_04/Actividad_04_03/U04_A03_03.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >

  <xs:element name="agenda">
  <xs:complexType>
    <xs:sequence>

    <xs:element name="persona" maxOccurs="unbounded">
    <xs:complexType>

      <xs:attribute name="id" type="xs:string"/>                
               
      <xs:element name="nombre" type="xs:string"/>

      <xs:element name="tlf" type="xs:string"/>           

                  
    </xs:complexType>
    </xs:element>
    </xs:sequence>

  </xs:complexType>
  </xs:element>

</xs:schema> 