Unidad_04/Actividad_04_03/U04_A03_01.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:element name="etiqueta">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="calle" type="xs:string" maxOccurs="1"/>
        <xs:element name="pais" type="xs:string" maxOccurs="1"/>
        <xs:element name="codigo" type="xs:integer" maxOccurs="1"/>
        <xs:element name="nombre" type="xs:string" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema> 