Unidad_04/Actividad_04_0C/U4_A0C_01.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:element name="pedido">
  <xs:complexType>
  <xs:sequence>

    <xs:element name="sucursal">

      <xs:attribute name="id" type="xs:string"/>                
               
      <xs:element name="nombre" type="xs:string"/>

      <xs:element name="tlf" type="xs:string"/> 

    </xs:element>
      
  </xs:sequence>
  </xs:complexType>    
  </xs:element>
</xs:schema> 